.campaign-detail-title{
    margin-top: 6em;
}

.campaign-detail-title h4{
    text-transform: uppercase;
}

.campaign-detail-info .progress-value .progress-bar{
    background-color:#1D94A8;
}

.campaign-detail-info .user-info{
    padding-left: 5px;
}

.campaign-detail-info .user-info .user-name{ 
    margin: 0;
}


.campaign-detail-info .user-info .user-status{ 
    font-size: 0.9em;
    color: #9F9F9F;
}

.img-campaign-detail{
    width: 100%;
}

.campaign-donation-info{
    text-align: center;
}

.campaign-donation-info .campaign-donation-info-number{
    color: #1D94A8;
    font-weight: 700;
    font-size: 24px;
}

.campaign-donation-info .campaign-donation-info-detail{
    color:#9F9F9F;
}

.background-biru{
    background: radial-gradient(46.5% 347.45% at 50% 50.11%, rgba(215, 235, 238, 0) 0%, rgba(215, 235, 238, 0.3) 100%);
}


.the-story .content .content-title{
    font-size: 24px;
    margin-bottom: 15px;
}

.the-story{
    padding: 0 7em;
}

.custom-card{
    background: #FFFFFF;
    border: 1px solid #E1E0E0;
    box-sizing: border-box;
    border-radius: 4px;
}

.custom-card-donation{
    background: #FFFFFF;
    border: 1px solid #E1E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 15px 10px 5px;
    margin: auto;
}

.custom-card .title{
    font-size: 24px;
    margin-bottom: 15px;
    color: #000;
}

.campaign-donations .content-donations .user-donation{
    color: #1D94A8;
    margin-bottom: 0.8rem;
}

.custom-card-donation .user-info .user-name{
    margin-bottom: 0;
    font-size: 14px;
}

.campaign-donations .user-info {
    padding-left: 0;
}

.campaign-donations .user-info .donate-time{ 
    font-size: 0.8em;
    color: #9F9F9F;
}

.campaign-donations .user-image {
    padding-right: 0;
    max-width: 100px !important;
}

.campaign-donations .user-comments{
    font-size: 12px;
}

.campaign-donations .content-donations .load-more-donator{
    padding: 5px 50px;
}


.donator-comments textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
}

.donator-comments .comments-card{
    background: #FFFFFF;
    border-top: 1px solid #E1E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 15px 10px 5px;
    margin: auto;
}

.donator-comments .user-info .comments-time{ 
    font-size: 0.8em;
    color: #9F9F9F;
}

.donator-comments .user-info p{ 
    margin-bottom: 0;
}

.donator-comments .comment-content{
    font-size: 14px;
}

.donator-comments .load-more-comments{
    padding: 5px 50px;
}

.related-campaign .title{
    font-size: 24px;
    margin-bottom: 15px;
    color: #000;
}

.read-more-less--more, .read-more-less--less{
    position: absolute; 
    /* bottom: 0;  */
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; padding: 30px 0; 
}

.donate-campaign-button a{
    text-decoration: none;
    color: #fff;
}

.donate-campaign-button a:hover{
    text-decoration: none;
    color: #fff;
}