
.card-style{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.card-style:hover{
    background-color: rgba(215, 235, 238, 0.6);;
}

.subcategory{
    background: #FFFFFF;
    border: 1px solid #A43F3C;
    border-radius: 4px;
    padding: 4px 18px;
    color: #A43F3C;
    margin-bottom: 17px;
}

.card-title{
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.card-subtitle{
    font-weight: normal;
    font-size: 14px;
    color: black;
}

.progress-value{
    height: 7.99px !important;
    margin-top: 28px;
    margin-bottom: 28px;
    border-radius: 4px;
   
}

.info-text{
    font-size: 14px;
    color: #9F9F9F;
    margin-bottom: 0px;
}

.info-amount{
    font-weight: bold;
    font-size: 14px;
    color: #1D94A8;
}

.link-card:hover{
    text-decoration: none;
    background-color: cornflowerblue;
}